<h1>Listing sms_tokens</h1>

<table>
  <thead>
    <tr>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sms_tokens.each do |sms_token| %>
      <tr>
        <td><%= sms_token.phone %></td>
        <td><%= link_to 'Show', sms_token %></td>
        <td><%= link_to 'Edit', edit_sms_token_path(sms_token) %></td>
        <td><%= link_to 'Destroy', sms_token, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sms token', new_sms_token_path %>
