<div class="login-container">  
  <div class="row">    
    <div class="col-sm-6">      
      <!-- Errors container -->
      <div class="errors-container">
      
      </div>
        <!-- Add class "fade-in-effect" for login form effect -->
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :class => 'login-form fade-in-effect' }) do |f| %>
        <div class="login-header">
          <a href="/" class="logo">
            <h2 style="font-weight: bolder;"><%= image_tag "denong_logo.jpg", :size => "36x36", :alt => "德浓" %>德浓信息管理平台</h2>
          </a>
          <p>Dear user, log in to access the admin area!</p>
        </div>

        <div class="form-group">
          <%= f.phone_field :phone, autofocus: true, autocomplete: 'off', placeholder: 'Phone', class: 'form-control' %>
        </div>
        
        <div class="form-group">
          <%= f.password_field :password, autofocus: true, autocomplete: 'off', placeholder: 'Password', class: 'form-control' %>
        </div>
        
        <!-- <div class="form-group">
          <input type="submit" class="btn btn-primary  btn-block text-left">
            <i class="fa-lock"></i>
            Log In
          </input>
        </div> -->
        <% if devise_mapping.rememberable? -%>
          <div class="form-actions">
            <label class="checkbox" style="padding-left:30px;">
              <%= f.check_box :remember_me %>Remember me
            </label>
            <%= f.submit "登录", class: 'btn btn-primary  btn-block text-left' %>
          </div>
        <% end -%>
        
        <div class="login-footer">
          <a href="#">Forgot your password?</a>
          <div class="info-links">
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% content_for :scripts do %>
  <script type="text/javascript">
    setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);
      // Validation and Ajax action
    $("form#new_admin_agent").validate({
      rules: {
        phone: { required: true },
        passwd: { required: true }
      },
      messages: {
        phone: { required: 'Please enter your phone.' },
        passwd: { required: 'Please enter your password.' }
      }
    });
      
    // Set Form focus
    $("form#new_admin_agent .form-group:has(.form-control):first .form-control").focus();
  </script>
<% end %>
