<!DOCTYPE html>
<html>
<head>
  <title>小确幸</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <%= stylesheet_link_tag    'devise', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'devise', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="page-body login-page login-light">

<%= yield %>
<%= yield :scripts %>
</body>
</html>
