<div class="container">
  <h3 class="about-title text-center">恭喜您获得小金奖励</h3>
  <div class="jajin-form">
    <%= simple_form_for(@reward_log) do |f| %>
      <%= f.error_notification message: "抱歉，您无法重复领取该奖励小金" %>

      <div class="form-inputs">
        <%= f.input :verify_code, as: :hidden %>
        <%= f.input :phone, label: "请您输入手机号码" %>
      </div>

      <div>
        <%= image_tag "jajin_bg.gif" %>
      </div>

      <div class="form-actions text-center">
        <%= f.button :submit, "获取小金", class: "btn-warning submit-button" %>
      </div>
    <% end %>
  </div>
  
</div>
