<p id="notice"><%= notice %></p>

<p>
  <strong>Reward:</strong>
  <%= @jajin_verify_log.amount %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @jajin_verify_log.customer_id %>
</p>

<p>
  <strong>Merchant:</strong>
  <%= @jajin_verify_log.merchant %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @jajin_verify_log.amount %>
</p>

<p>
  <strong>Float:</strong>
  <%= @jajin_verify_log.float %>
</p>

<p>
  <strong>Verify code:</strong>
  <%= @jajin_verify_log.verify_code %>
</p>

<p>
  <strong>Verify time:</strong>
  <%= @jajin_verify_log.verify_time %>
</p>

