<div class="container-fluid bus-footer">
	<%= link_to "关于我们" %> | 
	<%= link_to "联系我们" %> |
	<%= link_to "常见问题" %> |
	<%= link_to "官方微博" %> |
	<%= link_to "合作商户" %><br/>
	<span>客服电话：4009-910-097&nbsp;&nbsp;&nbsp;&nbsp;&copy;2011-2015 ijiajin.com</span>
</div>